[package]
name = "dto"
version = "0.1.0"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
reqwest.workspace = true
thiserror = "2.0.11"
serde.workspace = true
candid.workspace = true
