[package]
name = "main-api"
version = "0.1.0"
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
dto = { workspace = true, features = [ "server" ] }
serde.workspace = true
serde_json.workspace = true
by-axum.workspace = true

tokio = { version = "1.40.0", features = ["full"] }
tower = "0.5.1"
chrono = "0.4.39"
reqwest.workspace = true
rest-api = "0.1.1"
by-types.workspace = true
sqlx.workspace = true
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
validator = "0.20.0"
schemars = "0.8.21"

uuid = { version = "1.11.0", features = ["v4"] }
aws-config = "1.5.10"
aws-sdk-s3 = "1.74.0"
ethers = "2.0.14"

[features]
default = []
lambda = ["by-axum/lambda"]
